.Order {
  width: 80%;
  border: 1px solid #ccc;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box
}

.Ingredients {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  margin: 0 8px;
  bordeR: 1px solid #ccc;
  padding: 5px;
}



/* {textTransform: 'capitalize', display: 'flex', justifyContent: 'center', margin: '0 8px', border: '1px solid #ccc', padding: '5px'}} */